body {
  background-color: aquamarine;
}

.game {
  text-align: center;
  margin-bottom: 90px;
}

.button {
  margin-left: 25px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: darkblue;
  color: white;
  border: none;
  box-shadow: 6px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
  background-color: #04d9ff;
  transition: 0.2s;
}

.prompts {
  margin-top: 75px;
  height: 75px;
  text-align: center;
}

img {
  height: 300px;
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.mark-head {
  background-image: url("./images/store-front.webg");
  background-color: cadetblue;
  margin-left: 675px;
  margin-right: 675px;
  border-radius: 25px;
  margin-top: 550px;
}

#upgrade-hint {
  margin-top: 100px;
}

#arrow {
  margin-top: 100px;
}

.tool-head {
  margin-top: 100px;
}

.tool-cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
}

.card img {
  height: 300px;
  width: 300px;
}

.card {
  text-align: center;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  box-shadow: 6px 8px 6px 8px rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
}

.card button {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: black;
}
